#about .container{
  width: 90vw;
  height: 100vh;
  margin: 0 auto;
  padding-top: 4rem;
  padding: 4rem 30px 0;
  overflow-x: visible;
  background-color: #fff;

  width: 100%;
  background-position: center 70%;
  background-repeat: no-repeat;
  position: relative;
  background-size: cover;
}

#about .container h2.title{
  font-size: 2.7rem;

  margin: 20px 10px;
  padding-bottom: 28px;
  text-transform: uppercase;

  position: relative;
  color: #1b1e21;
  font-family: var(--black);
}

#about .container h2::after{
  content: "";
  display: block;

  width: 25px;
  height: 3.8px;

  position: absolute;
  bottom: 0;
  left: 0;
  background-color: var(--red);
}