
@keyframes pulse {
  1%{
    margin-top: 0px;
  }
  50%{
    margin-top: 10px;
  }
  100%{
    margin-top: 0px;
  }
}

@keyframes transition{
  0%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}

@keyframes animation-menu-on{
  0%{
    transform: translateX(-300px);
  }
  100%{
    transform: translateX(0);
  }
}

@keyframes animation-menu-off{
  100%{
    transform: translateX(-300px);
  }
}

@keyframes fade-up{
  0%{ 
    transform: translateY(50px);
  }
  100%{
    transform: translateY(0);
    visibility: visible;
  }
}

@keyframes fade-down{
  0%{
    transform: translateY(-100px);
  }
  100%{
    transform: translateY(0);
  }
}

@keyframes fade-right{
  0%{ 
    transform: translateX(-100px);
  }
  100%{
    transform: translateX(0);
  }
}

@keyframes fade-left{
  0%{ 
    transform: translateX(110%);
  }
  100%{
    transform: translateY(0);
  }
}

.animation-menu-on{
  animation: animation-menu-on 1.2s ease;
}

.animation-menu-off{
  animation: animation-menu-off 1.2s ease forwards;
}

.up{
  animation: fade-up 1s ease-in-out forwards;
}

.down{
  animation-name: fade-down;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
}

.right{
  animation-name: fade-right;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
}

.left{
  animation-name: fade-left;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
}

