
@keyframes pulse {
  1%{
    margin-top: 0px;
  }
  50%{
    margin-top: 10px;
  }
  100%{
    margin-top: 0px;
  }
}

@keyframes transition{
  0%{
    opacity: 0.01;
  }
  25%{
    opacity: 0.1;
  }
  50%{
    opacity: 0.4;
  }
  75%{
    opacity: 0.7;
  }
  100%{
    opacity: 1;
  }
}