@keyframes transition{
  25%{
   opacity: .4;
  } 
  50%{
    opacity: .7;
  }
  75%{
    opacity: .9;
  }
  100%{
    opacity: 1;
  }
}

@keyframes fade-down {
  1%{
    top: -100px;
  }
  100%{
    top: 1.8rem;
  }
}

@keyframes fade-left {
  1%{
    left: -100px;
  }
  100%{
    left: 20px;
  }
}

@keyframes fade-right {
  1%{
    right: -100px;
  }
  100%{
    right: 20px;
  }
}

@keyframes fade-out {
  1%{
    transform: scale(0,0);
  }
  100%{
    transform: scale(1,1);
  }
}

@keyframes fade-up-modal {
  1%{
    margin-top: 500px;
  }
  100%{
    margin: 0 auto;
  }
}

@keyframes pulse {
  1%{
    margin-top: 0px;
  }
  50%{
    margin-top: 10px;
  }
  100%{
    margin-top: 0px;
  }
}