#clients{
  width: 100vw;
  height: auto;

  padding: 40px 0;

  background-color: #000;
}

#clients .container{
  width: 90%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 0 auto;
}
#clients h2.title{
  font-size: 2.5rem;

  text-align: center;
  color: aliceblue;

  font-family: var(--black);

  position: relative;

  padding: 0 0 30px 0;

  text-transform: uppercase;
}
#clients h2::after{

  content: "";
  display: none;

  width: 25px;
  height: 3.8px;

  position: absolute;
  bottom: 0;
  left: 0;
  background-color: white;
} 
.container div > img{
  width: 130px;
  height: 65px;

  padding: 10px;
}
