#contact{
  width: 100vw;
  height: 850px;

  padding-top: 50px;

  background-image: url(../img/maps-barueri.jpg);
  background-position: center;
  background-size: contain;
}

#contact h2.title{
  font-size: 2.5rem;

  padding-bottom: 28px;

  text-align: center;

  text-transform: uppercase;

  visibility: hidden;

  /* position: relative; */

  color: #1b1e21;
  font-family: var(--black);
}

/* #contact h2::after{
  content: "";
  display: block;

  width: 25px;
  height: 3.8px;

  position: absolute;
  bottom: 0;
  left: 0;
  background-color: var(--red);
} */

#contact .container{
  width: 90%;
  height: 550px;


  padding: 20px;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 1fr);
  
}

#contact .container form{
  grid-column: 1 / 2;
  grid-row: 1 / 2;

  display: flex;
  flex-direction: column;
  align-items: flex-end;

}

#contact .container form input, textarea{
  /* width: 70%; */

  width: 90%;

  padding: 10px ;

  margin-bottom: 20px;
  
  outline: none;
}

#contact .container form input:last-child{
  width: 150px;
  height: 40px;

  padding: 5px 20px;
  color: white;
  background-color: var(--red);

  border: none;
  margin: 0;

  transition: all .5s;

  cursor: pointer;
}

#contact .container form input:last-child:hover{
  background-color: var(--red-medium);
}

#contact .container .phone{
  grid-column: 1 / 2;
  grid-row: 2 / 3;

  font-size: 1.3rem;
 
  font-family: var(--medium);
  font-weight: 400;

  margin-bottom: 20px;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}

#contact .container .phone a{

  color: #000;

  font-size: 2.8rem;
  font-family: var(--black);
  text-decoration: none;
}
#contact .container .address address{
  font-style: normal;
}

#contact .container .address{
  grid-column: 1 / 2;
  grid-row: 3 / 4;

  display: flex;
  flex-direction: column;
  align-items: center ;

  text-decoration: none;
  width: 90%;
  height: 150px;

  margin-bottom: 20px;

  font-size: 1.2rem;
  font-style: normal;
  background-color: var(--red);

  color: white;

  padding: 15px;
}

#contact .container .address h3{
  font-weight: bold;

  font-size: 1.8rem;
  margin-bottom: 10px;
}

#contact .container .address p{
  font-size: 1.1rem;
}

#contact .container .address a{
  color: white;


}

#contact .container .work-us{
  width: 90%;
  grid-column: 1 / 2;
  grid-row: 4 / 5;

  padding: 15px;
  background-color:var(--red);

  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

#contact .container .work-us h3{
  font-size: 1.8rem;
  font-weight: bold;

  margin-bottom: 10px;
}

#contact .container .work-us p{
  font-size: 1.1rem;
}

@media screen and (min-width: 700px){

  #contact{
    height: 700px;
  }
  #contact .container{
    grid-template-columns: 1fr 100px 1fr;
    grid-template-rows: 1fr 1fr 1fr;

    margin: 0 auto;
  }

  #contact .container form{
    width: 80%;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
  }

  #contact .container .phone{
    width: 80%;
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }
  #contact .container .address{
    width: 80%;
    grid-column: 3 / 4;
    grid-row: 1 / 3;
  }

  #contact .container .work-us{
    width: 80%;
    grid-column: 3 / 4;
    grid-row: 3 / 4;
  }
}