footer{
  width: 100vw;
  height: 150px;

  position: relative;

  padding: 15px;

  color: white;
  background-color: var(--red);
}

footer .copyright, footer .point{
  width: 90%;
  height: 50%;

  padding: 10px;
}

footer .point{
  width: 60px;
  height: 60px;
  border-radius: 50%;

  position: absolute;
  right: 7%;
  bottom: 5%;

  background-color: #fff;
}