/* @import url(./main.css); */
@import url(./animation.css);

.gallery-wrapper{
  width: inherit;
  height: inherit;

  position: relative;
 
}

.gallery-wrapper .title-main{
  font-family: var(--black);

  font-size: 7.2rem;
  font-weight: bold;

  position: absolute;
  left: 0;
  right: 0;
  top: 1.8rem;

  margin-left: auto;
  margin-right: auto;

  color:var(--white);
  text-align: center;

  transition: top 1s;

  animation-name: fade-down;
  animation-duration: 2s;
  
}

.gallery-wrapper .title-main p{
  font-size: 1.8rem;  
  text-transform: uppercase ;
}

.gallery-wrapper .hightlight{
  width: 100%;
  height: 100vh;
  background-image: url('../img/01.jpg');

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  

  transition: all 2s ease-in-out;
  
}

.gallery-wrapper .hightlight span{

  font-size: 1.2rem;
  text-transform: uppercase;

  color: var(--white);
  font-family: var(--black);
  text-align: center;

  position: absolute;
  top: 30%;
  left: 0;
  right: 0;
  bottom: 0;

  margin-left: auto;
  margin-right: auto;
}

.institutional{
  position: absolute;

  bottom: 100px;
  left: 20px;
  color: var(--white);

  transition: all 2s;
  animation-name: fade-left;
  animation-duration: 2s;
}

.institutional h3{
  font-size: 1.35rem;
  text-transform: uppercase;

  text-align: left;
  font-weight: bold;

  font-family: var(--black);
  margin-bottom: 5px;
}
.institutional-button{
    width: 210px;
    height: 60px;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 5px;
    color: var(--white);

    font-family: var(--light);
    font-size: 1.1rem;

    border: none;
    background-color: var(--red-medium);

    text-transform: uppercase;

    cursor: pointer;
}

.institutional-button span{
  width: 24px;
  height: 24px;

  margin-right: 8px;
  display: inline-block;
  background-image: url(../assets/play.svg);
}
.contact-phone{
  width: 55px;
  height: 160px; 
  

  position: absolute;

  right: 15px;
  bottom: 10%;

  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-start;
  align-items: center;
  

  cursor: pointer;

  z-index: 9999;
}

.contact-phone img:first-child{
  width: 20px;
  height: 20px;

  margin: 5px auto 0;
  padding: 12px;


  border-radius: 50%;

  background: var(--red);

  /* background-color: #fff; */
 
}

.contact-phone img:nth-child(2), .contact-phone img:nth-child(3){
  width: 0px;
  height: 0px;

  border-radius: 50%;
  margin-top: 5px;

  background: var(--red);

  transition: all .8s;
 
}

/* .contact-phone img:nth-child(3){
  width: 15px;
  height: 15px;

  display: none;

  padding: 8px;
} */

.contact-phone img.hover:hover ~ img{
  width: 15px;
  height: 15px;

  padding: 10px;
}

.button-home{
  width: 100vw;
  height: 2.8rem;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  text-transform: uppercase;
  text-align: center;

  font-size: 1.3rem;
  font-weight: bold;

  color: antiquewhite;
  position: absolute;
  bottom: 0;

  padding: 20px 0;


  background-color: #1b1e21;
}

.button-home::after{
  content: url(../assets/down-arrow.svg);

  display: block;

  width: 20px;
  height: 20px;

  animation-name: pulse;
  animation-iteration-count: infinite;
  animation-duration: 2s;
}

.modal-wrapper{
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgba(00, 00, 00, 0.8);

  position: absolute;
  top: 0;
  left: 0;

  display: none;

  z-index: 99999;
}

.modal-wrapper a img{
  width: 3rem;

  position: absolute;
  right: 40px;
  top:150px
}

.modal-wrapper .iframe{

  width: 100%;
  height: 100%;

  /* margin: 0 auto; */

  animation-name: fade-up-modal;
  animation-duration: .8s;

  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-wrapper iframe{
  /* width: 50vw;  desk
  height: 60vh; */

  width: 70vw;
  height: 40vh;

  
}