#our-work{
  width: 100vw;
  height: auto;

  margin: 0 auto;

  /* padding: 90px 0px; */

  padding: 100px 0 0 0px;

  /* margin: 30px 0 0 30px; */

  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(240, 237, 237);
}
#our-work h2.title{
  font-size: 2.5rem;

  /* margin: 50px 10px 0px 55px; */
  padding-bottom: 28px;
  text-transform: uppercase;

  align-self: initial;
  /* visibility: hidden; */

  position: relative;

  color: #1b1e21;
  font-family: var(--black);
}

#our-work h2::after{
  content: "";
  display: block;

  width: 25px;
  height: 3.8px;

  position: absolute;
  bottom: 0;
  left: 0;
  background-color: var(--red);
}

#our-work p{
  max-width: 1100px;
  padding: 1rem 2rem;
  font-size: 1.2rem;

  /* opacity: 0; */

  font-family: var(--medium);
  line-height: 19px;
  text-align: center;

  margin-bottom: 56px;

  transition: all .5ms ;
}

#our-work .carrousel-tecnologie, #our-work .carrousel-residential{
  width: 90vw;
  max-width: 1000px;
  height: 330px;

  margin: 0 auto;

  

  margin: 20px 0 20px 0;

  /* background-color: teal; */

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}


#our-work  h3{

  width: 100vw ;
  font-size: 1.5rem;

  line-height: 30px;
  text-align: start;
  color: #f93822;

  margin: 0px 20px;

  display: flex;
  justify-content: center;

  

  font-family: var(--black);

  text-transform: uppercase;
}

#our-work .carrousel-tecnologie .slides, #our-work .carrousel-residential .slides{
  width: 1500px;
  height: 300px;  

  overflow-y: hidden;
  overflow-x: scroll;

  display: flex;
  justify-content: center;
  
}

#our-work .carrousel-tecnologie .slides::-webkit-scrollbar, #our-work .carrousel-residential .slides::-webkit-scrollbar{
  display: none;
}

#our-work .carrousel-tecnologie .slides .slide, #our-work .carrousel-residential .slides .slide{
  width: 250px;
  min-width: 200px;
  height: 250px;

  border-radius: 2px;

  overflow: hidden;

  margin: 0px 5px;
}

#our-work .carrousel-tecnologie .slides .slide img, #our-work .carrousel-residential .slides .slide img{
  width: 100%;
  height: 200px;

  margin: 0;
  padding: 0;
}

#our-work .carrousel-tecnologie .slides .slide span, #our-work .carrousel-residential .slides .slide span{
  height: 20%;
  width: 100%; 

  padding: 3px;

  text-align: center;
  font-family: var(--black);
  line-height: 18px;
  display: inline-block;

  color: #fff;
  background-color: #1b1e21ee;
  font-size: .8rem;

  text-transform: uppercase;
}

@media screen and (min-width: 640px) and (max-width:960px){
  #our-work h2.title{
    align-self: initial;
  }
}

@media screen and (min-width: 960px){
  #our-work h2.title{
    margin-left: 50px;
  }

  #our-work p{ 
    font-size: 1.3rem;
    font-weight: 400;
    text-align: left;
  
 
  }

  #our-work h3{
    justify-content: flex-start;

    margin-left: 160px;
  }

  #our-work .carrousel-tecnologie, #our-work .carrousel-residential{
    justify-content: center;
  }
}

@media screen and (min-width: 1200px){
  #our-work .carrousel-tecnologie, #our-work .carrousel-residential{
    justify-content: center;
  }

  #our-work h2.title{
    margin-left: 200px;
  }

  #our-work  h3{
    font-size: 1.5rem;
    justify-content: center;
  }

  
}

