#our-work{
  width: 100vw;
  /* max-width: 1400px; */
  height: 100vh;

  margin: 0 auto;

  /* padding: 90px 0px; */

  padding: 4rem 30px;

  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(240, 237, 237);
}
#our-work h2.title{
  font-size: 2.7rem;

  margin: 50px 10px 0px 55px;
  padding-bottom: 28px;
  text-transform: uppercase;

  align-self: flex-start;
  visibility: hidden;

  position: relative;

  color: #1b1e21;
  font-family: var(--black);
}

#our-work h2::after{
  content: "";
  display: block;

  width: 25px;
  height: 3.8px;

  position: absolute;
  bottom: 0;
  left: 0;
  background-color: var(--red);
}

#our-work p{

  padding: 1rem 2rem;
  font-size: 1.2rem;

  line-height: 19px;
  text-align: center;

  margin-bottom: 56px;
}

#our-work .carrousel-tecnologie, #our-work .carrousel-residential{
  width: 90vw;
  max-width: 1400px;

  height: 400px;

  margin-bottom: 30px;

  /* background-color: teal; */

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}


#our-work  h3{
  font-size: 1.8rem;

  line-height: 30px;
  text-align: start;
  color: #f93822;
  margin: 20px 0 10px 120px;

  display: flex;
  justify-content: flex-start;

  width: 100vw ;

  font-family: var(--black);

  text-transform: uppercase;
}

#our-work .carrousel-tecnologie .slides, #our-work .carrousel-residential .slides{
  width: max-content;
  height: 210px;

  border-radius: 2px;
  overflow-x: scroll;
  display: flex;
  /* justify-content: space-evenly; */
  align-items: stretch;
}

#our-work .carrousel-tecnologie .slides .slide, #our-work .carrousel-residential .slides .slide{
  width: 13rem;
  height: 14rem;

  overflow: hidden;

  margin-right: 20px;

  /* background-color: teal;   */
}

#our-work .carrousel-tecnologie .slides .slide img, #our-work .carrousel-residential .slides .slide img{
  width: 100%;
  height: 80%;

  margin: 0;
  padding: 0;
}

#our-work .carrousel-tecnologie .slides .slide span, #our-work .carrousel-residential .slides .slide span{
  height: 20%;
  width: 100%; 

  padding: 5px;

  text-align: center;
  font-family: var(--black);
  line-height: 18px;
  display: inline-block;

  color: #fff;
  background-color: #1b1e21ee;
  font-size: .8rem;

  text-transform: uppercase;
}

