#service{
  width: 100vw;
  height: auto;

  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color:var(--red);
}

#service .container{
  width: 80%;
  height: auto;

  margin-right: 0 auto;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#service .container .services{
  width: 250px;
  height: 180px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  flex-wrap: wrap;

  padding: 10px;
  color: white;
  font-size: 1rem;

  margin-right: 10px;
}

#service .container .services img{
  width: 110px;
  height: 70px;
}

#service .container .services span{
  text-align: center;
}

@media screen and (max-width: 640px){

  #service{
    padding: 0;
  }
  .container{
    margin: 0 auto;
    flex-direction: column;
  }
}